/* CSS Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.backgroundColor{
  background-color: #023038;
}

.backgroundImg {
  background-image: url(./Images/bg.png);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size:cover;
  background-position: center top;
}


.landingText {
  font-family: 'League Spartan', sans-serif;
  font-weight: 600;
  letter-spacing: 3px;
  color: #F1F1E6;
}

.landingText2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  letter-spacing: 3px;
  color: #F1F1E6;
}

.sectionText{
  font-family: 'League Spartan', sans-serif;
  font-weight: 600;
  letter-spacing: 3px;
  color: #FFB15B;
}

.projectHead{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  letter-spacing: 3px;
  font-size: 32px;
  color: #F1F1E6;
}
.projectTools{
  color: #03989e;
  font-size: 28px;
}

/*Navbar*/
nav {
  font-family: 'League Spartan', sans-serif;
  color: #F1F1E6;
  font-size: 1.5em;;
}
.boxNav{
  position: absolute;
  top: 0;
  left:0px;
  padding-left: 15px;
  padding-right: 15px;
}
.DY{
  position: absolute;
}
.navButton{
  position: absolute;
  top: 10px;
}

.line {
  position: absolute;
  margin: auto;
  height: 10px;
  background: #FFB15B;
  width: 3rem;
  top: 10rem;
  border-radius: 25px;
}

.navbar-brand {
  /*color: #FFB15B;*/
  font-size: 1.5em;
}

.orange {
  color: #FFB15B;
}

.offwhite {
  color: #F1F1E6;
}

.containerheight {
  height: 50%;
  width: 100%;
}

.darkbg {
  background-color: #022C33;
  background-size: 100%;
}

p, form {
  font-family: 'Roboto', sans-serif;
  color: #F1F1E6;
  font-size: 1.2rem;
}

ul {
  list-style-type: none;
}

.nav-item {
  font-family: 'League Spartan', sans-serif;
  color: #F1F1E6;
  font-size: 1.8rem;
}

.arrow {
  border: solid #FFB15B;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;

}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.center {
  margin: auto;
}

/*SKILLS*/
.skills1{
  justify-content: space-evenly;
}
h5{
  color: gray;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}
.nonCode{
  width: 35%;
}

/*PROJECTS*/
.projectPhoto2{
  position: absolute;
  left: 0px;
}

.button{
  background-color: #FFB15B;
  border: none;
  color: white;
  padding: 15px 32px;
  border-radius: 8px;
  font-size: 30px;
  width: 100%;
}
.profile{
  width: 385px;
  height: 420px;
  float: left;
  margin-right: 3px;
  padding-left: 10px;
  }

.contactContainer{
  display: flex;
  justify-content: center;
}

.contactCol1{
  display: flex;
  width: 90%;
}
.contactText{
    display: flex;
    justify-content: center;
    text-align: start;
  }
.emailForm{
  min-width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.emailInput{
  width: 100%;
  background-color: #e6eeef;
  text-align: center;
  padding-left: 0;
}
.pText{
  font-size: 30px;
  margin-right: 0;
}
.aboutText{
  font-size: 30px;
}
@media only screen and (max-width: 1024px){
  .pText, .aboutText{
    font-size: 20px;
  
  }
  .projectTools{
    color: #03989e;
    font-size: 20px;
  }
  .button{
  font-size: 16px;
  padding: 8px 20px;
  }
  .profile{
  width: 350px;
  height: 390px;
  }
}

@media only screen and (max-width: 576px){
  .pText{
    min-width: 75%;
  }
  p{
    font-size: 12px;
  }
  .pText, .aboutText{
  font-size: 16px;
  }
  .skillsText{
    font-size: 10px;
  }
  .projectTools{
  color: #03989e;
  font-size: 14px;
  }
  .projectHead{
    font-size: 20px;
  }
  .profile{
  width: 185px;
  height: 200px;
  }
  .contactContainer{
    display: block;
    min-width: 100vw;
  }
  .contactCol1{
    display: block;
    text-align: center;
  }
  .contactText{
    display: flex;
    justify-content: center;
    min-width: 100vw;
    text-align: center;
  }
  .emailForm{
    min-width: 100vw;
    display: block;
    flex-direction: column;
    align-items: center;
  }
  .emailInput{
    background-color: #e6eeef;
    text-align: center;
    width: 100%;
    padding-left: 0;
  }
}

/*ABOUT*/
@media only screen and (max-width: 320px){
  .landingText, .orange{
    font-family: 'League Spartan', sans-serif;
    font-weight: 600;
    letter-spacing: 3px;
    font-size: 20px;
  }
  .landingText2{
    font-size: 15px;
  }
  .head{
    font-size: 18px;
  }
  .postContainer{
  overflow: hidden;
  }
  .skillsText{
    font-size: 10px;
  }
  .pText, .aboutText {
    font-size: 12px;
  }
  .projectTools{
  color: #03989e;
  font-size: 12px;
  }
  .button{
  font-size: 12px;
  }
  .profile{
    width: 150px;
    height: 160px;
  }
  .contactContainer{
    display: block;
    min-width: 100vw;
  }
  .contactCol1{
    display: block;
    text-align: center;
  }
  .contactText{
    display: flex;
    justify-content: center;
    min-width: 100vw;
    text-align: center;
  }
  .emailForm{
    min-width: 100vw;
    display: block;
    flex-direction: column;
    align-items: center;
  }
  .emailInput{
    display: flex;
    justify-content: center;
    background-color: #e6eeef;
    text-align: center;
    width: 100%;
    padding-left: 0;
  }
}

.widthAdjust{
    max-width: 100%;  
    overflow-x: hidden;
  }
.icon{
  width: 35px;
}


/*Footer*/
.footer{
  background-color: #031E22;
  text-align: center;
  font-size: 14px;
  color: #808080;
  margin-bottom: 0;
}

/*Scroll to Top Button*/
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}