/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
.backgroundColor{
  background-color: #023038;
}
.backgroundImg {
  background-image: url(./Images/bg.png);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size:cover;
  background-position: center top;
}
.landingText {
  font-family: 'League Spartan', sans-serif;
  font-weight: 600;
  letter-spacing: 3px;
  color: #F1F1E6;
}
.landingText2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  letter-spacing: 3px;
  color: #F1F1E6;
}
.sectionText{
  font-family: 'League Spartan', sans-serif;
  font-weight: 600;
  letter-spacing: 3px;
  color: #FFB15B;
}
.projectHead{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  letter-spacing: 1.5px;
  font-size: 32px;
  color: #023038;
}

/*Navbar*/
.navItem {
  color: #FFFFFF80 !important;
}
.navItem:hover{
  color: #FFB15B !important;
}
nav {
  font-family: 'League Spartan', sans-serif;
  font-size: 1.5em;;
}
.boxNav{
  position: absolute;
  top: 0;
  left: 0;
}
.navContainer{
  margin-right: 80px;
  margin-left: 80px;
}
.DY{
  position: absolute;
}
.navButton{
  position: absolute;
  top: 10px;
}
.navbar-brand {
  font-size: 1.5em;
}
.orange {
  color: #FFB15B;
}
.offwhite {
  color: #F1F1E6;
}
.containerheight {
  height: 50%;
  width: 100%;
}

.darkbg {
  background-color: #022C33;
  background-size: 100%;
}

p, form, li {
  font-family: 'Roboto', sans-serif;
  color: #F1F1E6;
  font-size: 1.2rem;
}

ul {
  list-style-type: none;
}

.nav-item {
  font-family: 'League Spartan', sans-serif;
  color: #F1F1E6;
  font-size: 1.8rem;
}

.arrow {
  border: solid #FFB15B;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;

}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.center {
  margin: auto;
}

/*SKILLS*/
.skillsContainer{
  margin-right: 80px;
  margin-left: 80px;
}
.skillRow{
  justify-content: space-evenly;
}
h5{
  color: gray;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}
.nonCode{
  width: 35%;
}

/*PROJECTS*/
.projectsContainer{
  margin-left: 80px;
  margin-right: 80px;
}
a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: #FFB15B;
}
.projectPage{
  min-height: 100vh;
  padding: 80px;
}
.headFont{
  color: white;
}
h2+p, h2+ul, .projectDescPhoto{
  margin-bottom: 40px;
}
h2{
  color: #FFB15B;
}

/*GET IN TOUCH*/
.aboutContainer{
  margin-left: 80px;
  margin-right: 80px;
}
.button{
  background-color: #FFB15B;
  border: none;
  color: white;
  padding: 15px 32px;
  border-radius: 8px;
  font-size: 30px;
  width: 100%;
}
.profile{
  width: 385px;
  height: 420px;
  float: left;
  margin-right: 3px;
  padding-left: 10px;
}
.emailForm{
  min-width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.emailInput{
  width: 100%;
  background-color: #e6eeef;
  text-align: center;
  padding-left: 0;
}
.pText{
  font-size: 30px;
}
.aboutText{
  font-size: 30px;
}

/*Adjustments for different viewports*/
@media only screen and (max-width: 1024px){
  .pText, .aboutText{
    font-size: 20px;
  }
  .button{
  font-size: 16px;
  padding: 8px 20px;
  }
  .profile{
  width: 350px;
  height: 390px;
  }
}

@media only screen and (max-width: 768px){

.navContainer{
  margin-right: 16px;
  margin-left: 16px;
}
  .sectionText{
    font-size: 20px;
  }
  label{
    font-size: 16px;
  }
  .projCard{
  width: 20rem;
  }
  p, li{
    font-size: 12px;
  }
  .pText, .aboutText{
  font-size: 16px;
  }
  .skillsContainer{
  margin-right: 16px;
  margin-left: 16px;
  }
  .skillsText{
    font-size: 10px;
  }
  .projectsContainer{
    margin-left: 16px;
    margin-right: 16px;
  }
  .projectHead{
    font-size: 20px;
  }
  .aboutContainer{
    margin-left: 16px;
    margin-right: 16px;
  }
  .profile{
  width: 185px;
  height: 200px;
  }
  .emailForm{
    min-width: 100vw;
    display: block;
    flex-direction: column;
    align-items: center;
  }
  .emailInput{
    background-color: #e6eeef;
    text-align: center;
    width: 100%;
    padding-left: 0;
  }
}

/*ABOUT*/
@media only screen and (max-width: 320px){
  .landingText, .orange{
    font-family: 'League Spartan', sans-serif;
    font-weight: 600;
    letter-spacing: 3px;
    font-size: 20px;
  }
  .landingText2{
    font-size: 15px;
  }
  .head{
    font-size: 18px;
  }
  .skillsText{
    font-size: 10px;
  }
  .pText, .aboutText {
    font-size: 12px;
  }
  .projCard{
  width: 15rem;
  }
  .button{
  font-size: 12px;
  }
  .profile{
    width: 150px;
    height: 160px;
  }
  .emailForm{
    min-width: 100vw;
    display: block;
    flex-direction: column;
    align-items: center;
  }
  .emailInput{
    display: flex;
    justify-content: center;
    background-color: #e6eeef;
    text-align: center;
    width: 100%;
    padding-left: 0;
  }
}
.icon{
  width: 35px;
}


/*Footer*/
.footer{
  background-color: #031E22;
  text-align: center;
  font-size: 14px;
  color: #808080;
  margin-bottom: 0;
}
